<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>

<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %} <div class="alert alert-primary" style="margin-top: 10px"> {{ msg }} </div>{% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Main Content -->
        {% block body %} {% endblock %}
    </div>
</body>

</html>